.card-btn {
  width: 250px;
  height: 150px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  margin-top: 100px;
  border-radius: 10px;
  font-weight: bold !important;
}

.jk {
  text-align: center;
  margin-top: 100px;
  /* background-image: linear-gradient(to right,violet,white,lightblue); */
}
.B1 {
  margin-right: 50px;
}

.heading {
  color: white;
}
.caption {
  font-weight: bolder;
}
